{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6.14.1",
          "uglify": true
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": ["react-hot-loader/babel",
    "syntax-async-functions",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
