html(lang='en')
    include ../include/head
    body(style='')
        #wrap
            div
                include ../include/header
                .wrap
                    block content
                include ../include/footer
