footer.footer.top-logos
    .container.top-footer
        .row
            .col-xs-12.col-sm-6.col-md-6
                h4 Холбоо барих
                .menu
                    ul
                        li
                            span
                                i.fa.fa-envelope-open
                                |  info@progrids.mn
                        li
                            span
                                i.fa.fa-phone
                                |  +976 77113080
                        li
                            span
                                i.fa.fa-map-marker
                                |  Улаанбаатар, Баянгол дүүрэг, 17-р хороо
                        li
                            a.facebook(href='https://www.facebook.com/progridsystems', title='facebook')
        .bottom-footer
            .row
                .col-xs-12
                    p.text-center Copyright © 2020 PROGRIDS SYSTEM Rights Reserved
