head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='/images/faviconVoucher.png', rel='shortcut icon')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap', rel='stylesheet')
    // Template CSS Files
    link(rel='stylesheet', type='text/css', href='/frontAssets/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/frontAssets/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/frontAssets/css/magnific-popup.css')
    link(rel='stylesheet', type='text/css', href='/frontAssets/css/style.css')
    link(rel='stylesheet', type='text/css', href='/frontAssets/css/skins/yellow.css')
    link(rel='stylesheet', href='https://unpkg.com/swiper/css/swiper.css')
    script(src='/frontAssets/js/modernizr.js')
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext', rel='stylesheet')
    link(href='/css/react-redux-toastr.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/css/style.css')

    block title
        title Progrid Systems
    block og
